html,
body {
    padding: 0;
    margin: 0;
    background: green;
}

.page {
    display: inline-flex;
    background: #4DBBFA;
    margin: 0;
    padding: 106px;
}

img {
    display: inline-table;
}